@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --primary-color: #daa38f; 
  --secondary-color: #98a7ae;
  --beige: #f8f3ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--beige);
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  text-align: center;
  color: var(--black-500)
}


button {
    border: none;
    outline: none;
    padding: 25px 50px;
    background: var(--primary-color);
    color: white;
    font-size: 20px;
    cursor:pointer;
    border-radius: 40px;
}


/* TRANSITIONS */

a, .btn {
  transition: all 300ms ease;
}

/* CONTAINERS */

.profile-container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* ADD INS */


/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
  padding-top: 20px;
}

footer p {
  text-align: center;
}