<link rel="stylesheet" href="static/css/main.css">

<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/sections/header.css" />
    <link rel="stylesheet" href="css/sections/about.css" />
    <link rel="stylesheet" href="css/sections/main.css" />

    <title>Cupid's Quill</title>

  </head>

  <body>
    <nav id="desktop-nav">

      <div class="logo">Welcome to Cupids Quill!</div>

      <div>
        <ul class="nav-links">

          <li><a href="#home" onclick="location.href='./#profile'">Home</a></li>
          <li><a href="#about" onclick="location.href='./#about'">About</a></li>

        </ul>
      </div>

    </nav>

    <!--MAIN SECTION-->
    <section class="profile-container" id="profile">
      <div class="container">
        <img src="assets/cupidquilltitle.png" alt="Cupids Quill Logo" class="cupid-pic" />

        <p> Struggling to put your love into words? Fear not—Cupid’s Quill is here to save your heart (and your dignity). 
            Just answer a few prompts, and our AI will craft a swoon-worthy love letter that’s sweet, poetic, or even hilariously over-the-top.
            With a sprinkle of AI magic and a dash of charm, Cupid’s Quill will turn your emotions into a masterpiece—so you can take all the credit. 💘✍️</p>
        <div class="btn-container">
          <button class="letsgo-button" onclick="location.href='{{ url_for('questions') }}'">Let's Get Started!</button>
        </div>
      </div>
    </section>

    <!--ABOUT SECTION-->
    <section class="about" id="about">
      <p class="section__text__p1">Get To Know More</p>
      <h1 class="title">About This Project</h1>
      <div class="about-section-container">
        <div class="about-section__pic-container">
          <img src="assets/about-pic.gif" alt="Profile picture" class="about-pic" />
        </div>
    
        <div class="about-details-container">
          <div class="about-containers">
            <div class="details-container">

              <h3>Journey Hacks 2025</h3>
              <p>12 Hours</p>

            </div>

            <div class="details-container">

              <h3>Cupid's Quill</h3>
              <p>Created with <br />HTML, CSS and Python</p>
            </div>
          </div>

          <div class="text-container">
            <p>4 stupid university students, Daniel Smith, Samantha Gan, Ilia Mosaddegh and Megan Chau 
            take on Journy Hacks 2025. As first years in CSSS we have faced lots of challenges. Will 
            we be able to graduate in first year year? Will Janice Regan delay another midterm? I guess
            we'll never know...</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <nav>
        <div class="nav-links-container">
          <ul class="nav-links">
            <li><a href="#home" onclick="location.href='./#profile'">Home</a></li>
            <li><a href="#about" onclick="location.href='./#about'">About</a></li>
            <img class="cat-logo" src="assets/search.svg" alt="search"/>
          </ul>
        </div>
      </nav>
      <p>Copyright &#169; 2025 Cupid's Quill. All Rights Reserved.</p>
    </footer>

  <script src="js/script.js"></script>
  </body>
</html>
